@model talekarmilk.Models.TablPartner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TablPartner</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.part_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.part_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.part_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.part_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.part_number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.part_number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.part_email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.part_email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.part_company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.part_company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.part_designation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.part_designation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.part_message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.part_message)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
