@model talekarmilk.Models.TblProduct

@{
    ViewBag.Title = "Create";
    
}

<h2>Create</h2>

@using (Html.BeginForm(Html.BeginForm(Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TblProduct</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.pro_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pro_id)
            @Html.ValidationMessageFor(model => model.pro_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pro_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pro_name)
            @Html.ValidationMessageFor(model => model.pro_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pro_image)
        </div>
        <div class="editor-field">
            <input type="file" name="file" id="file" required="required" />
            @Html.ValidationMessageFor(model => model.pro_image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pro_content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pro_content)
            @Html.ValidationMessageFor(model => model.pro_content)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
