@model talekarmilk.Models.TblProduct

@{
    ViewBag.Title = "Delete";
    
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TblProduct</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pro_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pro_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pro_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pro_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pro_image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pro_image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pro_content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pro_content)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
